<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User</title>
    <%- include('./partials/css-bootstrap.ejs') %>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body class="home_body">
    <div id="home_container">
        <div id="navbar">
            <img style="height: 100px; margin-top:0px"
                src="<%= user.photo %>"
                alt="profile_picture">
            <h1 id="username"><%= user.username %></h1>
            <div>
                <a href="/users"> <img src="/assets/profile.png" alt="backbutton" id="home_button"
                        style="margin-left: 50px; margin-top:20px; height:50%"></a>
                <a href="/logout"> <img src="/assets/logout.png" alt="backbutton"
                        style="margin-left: 50px; margin-top:20px; height:50%"> </a>

            </div>
        </div>
    </div>
    <div id="navigation">
        <% for (let i = 0; i < data.length; i++) { %>
        <div>
            <a href="/games/<%= data[i].id %>" style="background-color: transparent; border-color: transparent;" class="btn btn-primary"><img src="/assets/speech.png" id="select_game_background">
                <img src='<%= data[i].game_photo %>'
                    id="select_game_image"></a>
            
        </div>
        <%}%>
        
    </div>
    <div>
        <img src="/assets/selectgame.png" id="select_game_placeholder">
    </div>
    </div>
    <%-include ('./partials/js-bootstrap.ejs') %>
</body>

</html>