<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User</title>
    <%- include('./partials/css-bootstrap.ejs') %>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body id="profile_body">
        <div style="display: flex;">
            <div id="profile_background">
                <img id="avatar"
                    src="<%= data.photo %> "
                    alt="avatar">
                <h1 id="username_text"><%= data.username %></h1>
                <div id="user_container">
                    <div id="user">
                        <h2>email: <%= data.email %></h2>
                    </div>
                    <div id="user">
                        <h2>telephone number: <%= data.telephone_number %></h2>
                    </div>
                    <div id="user">
                        <h2>behaviour score: <%= data.behaviour_score %></h2>
                    </div>
                    <div id="user">
                        <h2>game score: <%= data.game_score %></h2>
                    </div>
                </div>
                <a href="/"> <img src="/assets/homebutton.png" alt="backbutton" style="height:65px; margin-top:80px">
                </a>
                <a href="/logout"> <img src="/assets/logout.png" alt="backbutton"
                        style="height:65px; margin-top: 80px; margin-left: 20px;"> </a>
            </div>
        

                    <div id="profile_create_table">    
                    <h1>Events that you created</h1>
                        <table style="width:100%">
                            <tr>
                                <th>name</th>
                                <th>game</th>
                                <th>location</th>
                                <th>date</th>
                                <th>option</th>
                            </tr>
                            <% for(let i = 0; i < dataCreate.length; i++){ %>
                            <tr>
                                <td><%= dataCreate[i].name %></td>
                                <td><%= dataCreate[i].Game.name %></td>
                                <td><%= dataCreate[i].location %></td>
                                <td><%= dataCreate[i].getDate() %></td>
                                <td>
                                    <a class="btn btn-primary" href="/events/<%= dataCreate[i].id %>/edit" role="button">edit</a>
                                    <a class="btn btn-danger" href="/events/<%= dataCreate[i].id %>/delete" role="button">delete</a>
                                </td>
                            </tr>
                            <% } %>
                        </table>
                    </div>
            
                    <div id="profile_create_table"> 
                    <h1>Events that you joined</h1>
                    <table style="width:100%">
                        <tr>
                            <th>name</th>
                            <th>game</th>
                            <th>location</th>
                            <th>date</th>
                            <th>option</th>
                        </tr>
                        <% for(let i = 0; i < dataJoin.length; i++){ %>
                        <tr>
                            <td><%= dataJoin[i].Event.name %></td>
                            <td><%= dataJoin[i].Event.Game.name %></td>
                            <td><%= dataJoin[i].Event.location %></td>
                            <td><%= dataJoin[i].Event.getDate() %></td>
                            <td><a class="btn btn-primary" href="/events/<%= dataJoin[i].EventId %> /unjoin" role="button">unjoin</a></td>
                        </tr>
                        <% } %>
                    </table>
                </div>
            
        </div>

    <div id="user_display_container">





        <%-include ('./partials/js-bootstrap.ejs') %>
</body>

</html>